mat-toolbar {
    background-color: #323232;
    color: #FFFFFF;
}

.logo {
    margin: 88px
}

.example-spacer {
    flex: 1 1 auto;
}

.avatar {
    max-width: 50px !important;
    max-height: 50px !important;
    border-radius: 3px;
    margin-right: 8px;
}

.user {
    margin-right: 98px;
}

.example-tab-icon {
    margin-right: 8px;
}