// cor do background das tabs
::ng-deep .mat-mdc-tab-labels {
    background-color: #4DB8EA;
}

//  mudar a cor do labels que nao foram selecionados
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: white
}

// muda a cor do label selecionado
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    // color: white;
    color: #4DB8ED;
}

// muda a cor do background da tab selecionada
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mat-mdc-tab-ripple {
    background-color: white;
}

// muda a cor dos labels quando passa o mouse
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab__text-label:hover {
    color: #3499CA;
}

// retira a barra que aparece quando licar na tab
::ng-deep .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
.mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
    // border-color: var(--mdc-tab-indicator-active-indicator-color, #3f51b5);
    opacity: 0;
}